<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControleCliente</servlet-name>
        <servlet-class>controle.ControleCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAutentica</servlet-name>
        <servlet-class>controle.ControleAutentica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleFuncionario</servlet-name>
        <servlet-class>controle.ControleFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAgendamento</servlet-name>
        <servlet-class>controle.ControleAgendamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleEmail</servlet-name>
        <servlet-class>controle.ControleEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleCliente</servlet-name>
        <url-pattern>/ControleCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAutentica</servlet-name>
        <url-pattern>/ControleAutentica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleFuncionario</servlet-name>
        <url-pattern>/ControleFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAgendamento</servlet-name>
        <url-pattern>/ControleAgendamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleEmail</servlet-name>
        <url-pattern>/ControleEmail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
