
.legenda{
    font-size: 150%;
    margin-bottom: 1.5em;
    text-align: center;
    border-bottom: 1px solid #330033;
    width: 100%;
    padding-bottom: 8px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2em auto;
    
}

label[for],label{
    font-size: 90%;
    cursor: pointer;
}

input[type="text"],input[type="email"], input[type="password"], input[type="date"] {
    width: 100%;
    margin: 1em 0;
    padding: 0.5em 0em;    
    border:none;
    border-bottom: 1px solid #ccc;
    outline:none;
    background-color: transparent;    

}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus, input[type="date"]:focus{
    border-bottom: 2px solid rgb(75, 5, 110);
}
input[type="radio"],input[type="checkbox"]{
    margin: 1em .2em;
    width: 16px;
    height: 16px;
}

input[type="submit"]{
    border: none;
    padding: .8em 1em;
    margin-top: 1em;
    background-color: rgb(75, 5, 110);
    color: #fff;
    width: 20%;
    position: relative;
    margin-left: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px 1px #000;
    text-transform: uppercase;
    
  
}

input::placeholder{
    font-style: italic;
    font-size: 90%;
    color: #678;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
    background-color:  #66188d;
    box-shadow: 2px 2px 1em #000;
}

.titulo-form{
    font-size: 180%;
    margin: 1em 0em;
    margin-bottom: 2em;
    text-align: center;
    width: 100%; 
    
}

fieldset{
    margin-bottom: 4em;
}

.txEnd{
    display: block;
}

.inpEnd{
    width: 82% !important;
    margin-right: 3% !important; 
}

.inpNum{
    width: 9% !important;
}

.erroSenha{
    border-bottom: 2px solid rgba(187, 57, 50, 0.719) !important;
}


.combo {
    width: 100%;
    margin: 1em 0;
    margin-bottom: 1.5em;
    padding: 0.5em 0em;    
    border:none;
    border-bottom: 1px solid #ccc;
    outline:none;
    background-color: transparent;   

}
