
a:focus{
    border-bottom: 2px solid rgb(75, 5, 110);
}

a:hover,
a:focus{
    background-color:  #66188d;
    box-shadow: 2px 2px 1em #000;
}

img{
    position: relative;
    transform: translateX(-50%);
    margin-left: 50%;
    z-index: -1;
    animation: aumenta 0.8s infinite alternate ease-in-out;
}

.botao-a{
    border: none;
    text-align: center;
    padding: .8em 1em;
    margin-top: 1em;
    background-color: rgb(75, 5, 110);
    color: #fff;
    width: 45%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px 1px #000;
    text-transform: uppercase;
    line-height: 1.4;
}

.div-main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 7em;
}

.div-a{
    justify-content: space-around;
    display: flex;
}

@keyframes aumenta{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}