@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  
  
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color: #f2f2f2;
  background:rgb(75, 5, 110);
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:20px;
  font-weight: 100;
  padding:19px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:18px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: center;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: center;
}

td.text-left {
  text-align: center;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: center;
}

.botao-table-e{
    margin-top: 0em;
    margin-right: 13px;
    background-color:  rgb(75, 5, 110);
    width: 20px;
    border: none;
    padding: 10px;
    margin-top: 1em;
    color: #fff;
    width: 90px;
    position: relative;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px 1px #000;
    text-transform: uppercase;
          
}

.botao-table-d{
    margin-top: 0em;
    margin-right: 13px;
    background-color:  #ff1a1a;
    width: 20px;
    border: none;
    padding: 10px;
    margin-top: 1em;
    color: #fff;
    width: 90px;
    position: relative;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px 1px #000;
    text-transform: uppercase;
    
    
}

.botao-table-m {
  margin-top: 0em;
  margin-right: 13px;
  background-color:  #0066ff;
  width: 20px;
  border: none;
  padding: 10px;
  margin-top: 1em;
  color: #fff;
  width: 90px;
  position: relative;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: .5s ease-in-out;
  cursor: pointer;
  box-shadow: 2px 2px 1px #000;
  text-transform: uppercase;
}

.container-table{
 height: 30em;
 overflow: auto;
 margin-top: 5em;     
}

/*estilizando scrollbar */

.container-table::-webkit-scrollbar {
  width: 8px;
}

.container-table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.container-table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/*fim estilização scrool*/

